<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Third 1'" [items]="['Home','Multilevel','Third']" [active_item]="'Third 1'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Third Level</h2>
          </div>
          <div class="body">
            <!-- Add content here -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
