<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Blank'" [items]="['Home','Extra']" [active_item]="'Blank'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2><strong>Blank</strong> Page</h2>
          </div>
          <div class="body">
            <!-- add content here -->
          </div>
        </div> 
      </div>
    </div>
  </div>
</section>